h1 {
  font-style: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align:center;
  background-color: rgb(243, 239, 17);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: grey;
}

footer > #sitemap {
  color: rgb(243, 239, 17);
  padding: 10px;
  text-decoration: none;
  font-style: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer > #sitemap:hover {
  background-color:  rgb(243, 239, 17);
  color:black ;
}
