h1 {
    font-style: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    background-color: rgb(243, 239, 17);
}
#container {
  position: relative;
  min-height:100vh;
}
#footer {
  position:absolute;
  bottom:0%;
  width:100%;
  }
  
  ul.footer{
    padding: 10px;
    list-style-type: none;
    overflow: hidden;
    background-color: #333333;
    align-content: center;
  }
  
  li a {
    color: rgb(243, 239, 17);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    float: left;
  }
  
  li a:hover {
    background-color:  rgb(243, 239, 17);
    color:black ;
  }

ol.wod{
    background-color: yellow;
    display:block;
  }